*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* header section start */

.container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 80px;
    width: 100%;
    padding-left: 125px;
    padding-right: 160px;
    position: fixed;
    box-shadow: 0 4px 6px rgba(115, 106, 106, 0.1);
    z-index: 1;
}
.sub_container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
}
.sub_container ul img{
    width: 100px;
}

.sub_container ul img:hover{
    /* opacity: 0.7; */
    transform: scale(1.09);
}



ul{
    list-style-type: none;
}
.sub_container_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.sub_container_1{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    /* position: sticky; */
}

 .image{
    display: flex;
    text-decoration: none;
    gap: 10px;
    color: #545766;
}

.image:hover{
    color:orange;
}
#other{
    border: none;
    outline: none;
    text-decoration: underline;
    padding-right: 10px;
    
}

#other:hover{
    color: orange;
}

.image img{
    width: 20px;
}

sup{
    color: #ffa600;
    font-size: 10px;
}

/* header section end */

/* main section start */


.maintainer{
    background-color: #ffffff;
   
}
.Section_container{
   width: 100%;
   padding-top: 95px;
}

.section_container_1{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 78%;
   padding-left:30px;
   margin-left: 170px;
   /* border: 1px solid red; */
   
}

.section_container_1111111{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    padding-left:30px;
    margin-left: 170px;
    /* border: 1px solid red; */
    margin-top: -50px;
    
}



    


.section_container_2{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 82%;
   padding-left:40px;
   margin-left: 140px;
  gap: 10px;

}

#section_container_2_items img{
    width: 155px;
    height: 180px; 
}

.section_container_1_item2 button{
    border-radius: 150px;
    width: 35px;
    border: none;
    color: #5a5858;
    height: 35px;
    background-color: #d9dadb;

}

.section_container_1_item2{
    display: flex;
    gap: 12px;
}

hr{
    width: 75%;
    margin-left: 200px;
    margin-top: 50px;
    /* border-color: #f2f2f2 ; */
    /* background: rgb(255, 255, 255) */
    border: .7% white;
    color: #d9dadb;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
}


.container_types_of_food_item1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    padding-left:30px;
    margin-left: 170px;
    padding-top: 30px;
    /* border: 1px solid red; */
} 

.container_types_of_food_item2{
    display: flex;
   /* justify-content: space-between; */
   align-items: center;
   width: 82%;
   padding-left:60px;
   margin-left: 140px;
   margin-top: 20px;
   /* border: 1px solid red; */
   height: 40px;
  gap: 10px;
  
}


#conatiner_types_of_food_item2_anchor_filter{
    display: flex;
    border-radius: 20px;
    gap: 5px;
    width: 85px;
    padding-left: 2px;
    justify-content: center;
    padding-top: 2px;
    border-color: #d9dadb;
    background-color: #ffffff;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    box-shadow: 0 4px 6px rgba(135, 117, 117, 0.1);
    height: 36px;
    align-items: center;
    color: black;
}

#conatiner_types_of_food_item2_anchor_sort_by{
    border-radius: 20px;
    gap: 5px;
    width: 95px;
    padding-left: 8px;
    justify-content: center;
    padding-top: 6px;
    border-color: #d9dadb;
    background-color: #ffffff;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    box-shadow: 0 4px 6px rgba(135, 117, 117, 0.1);
    height: 36px;
    align-items: center;
    padding-right: 30px;
}

#conatiner_types_of_food_item2_anchor_fast_delivery{
    border-radius: 20px;
    gap: 5px;
    width: 110px;
    padding-left: 10px;
    justify-content: center;
    padding-top: 6px;
    border-color: #d9dadb;
    background-color: #ffffff;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    box-shadow: 0 4px 6px rgba(135, 117, 117, 0.1);
    height: 36px;
    align-items: center;
    text-decoration: none;
    color: black;

}

#conatiner_types_of_food_item2_anchor_new_on_swiggy{
    border-radius: 20px;
    gap: 5px;
    width: 130px;
    padding-left: 10px;
    justify-content: center;
    padding-top: 6px;
    border-color: #d9dadb;
    background-color: #ffffff;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    box-shadow: 0 4px 6px rgba(135, 117, 117, 0.1);
    height: 36px;
    align-items: center;
    /* padding-right: 30px; */
    text-decoration: none;
    color: black;
}

#conatiner_types_of_food_item2_anchor_ratings{
    border-radius: 20px;
    gap: 5px;
    width: 105px;
    padding-left: 10px;
    justify-content: center;
    padding-top: 6px;
    border-color: #d9dadb;
    background-color: #ffffff;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    box-shadow: 0 4px 6px rgba(135, 117, 117, 0.1);
    height: 36px;
    align-items: center;
    /* padding-right: 30px; */
    text-decoration: none;
    color: black;
}

#conatiner_types_of_food_item2_anchor_pure_veg{
    border-radius: 20px;
    gap: 5px;
    width: 80px;
    padding-left: 10px;
    justify-content: center;
    padding-top: 6px;
    border-color: #d9dadb;
    background-color: #ffffff;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    box-shadow: 0 4px 6px rgba(135, 117, 117, 0.1);
    height: 36px;
    align-items: center;
    /* padding-right: 30px; */
    text-decoration: none;
    color: black;
}

#conatiner_types_of_food_item2_anchor_offers{
    border-radius: 20px;
    gap: 5px;
    width: 70px;
    padding-left: 10px;
    justify-content: center;
    padding-top: 6px;
    border-color: #d9dadb;
    background-color: #ffffff;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    box-shadow: 0 4px 6px rgba(135, 117, 117, 0.1);
    height: 36px;
    align-items: center;
    /* padding-right: 30px; */
    text-decoration: none;
    color: black;
}

#conatiner_types_of_food_item2_anchor_rs_300_rs_600{
    border-radius: 20px;
    gap: 5px;
    width: 130px;
    padding-left: 10px;
    justify-content: center;
    padding-top: 6px;
    border-color: #d9dadb;
    background-color: #ffffff;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    box-shadow: 0 4px 6px rgba(135, 117, 117, 0.1);
    height: 36px;
    align-items: center;
    /* padding-right: 30px; */
    text-decoration: none;
    color: black;
}

#conatiner_types_of_food_item2_anchor_less_than_rs_300{
    border-radius: 20px;
    gap: 5px;
    width: 135px;
    padding-left: 10px;
    justify-content: center;
    padding-top: 6px;
    border-color: #d9dadb;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(135, 117, 117, 0.1);
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    height: 36px;
    align-items: center;
    /* padding-right: 30px; */
    text-decoration: none;
    color: black;
}



#conatiner_types_of_food_item2_anchor_filter{
    text-decoration: none;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    box-shadow: 0 4px 6px rgba(135, 117, 117, 0.1);
   
}

#sort_by{
    border-radius: 50px;
    border: none;
    padding-right: 8px;
}

.container_types_of_photo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 100%;
    width: 75vw; /* in per - 76% */
    /* border: 1px solid blue; */
    margin-left: 12.5%;
    gap: 35px;
    /* overflow-y: scroll; */
}




.container_types_of_photo_222{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 100%;
    width: 75vw; /* in per - 76% */
    /* border: 1px solid blue; */
    margin-left: 12.5%;
    gap: 35px;
}
.container_types_of_photo_item1{
    /* display: grid; */
    width: 260px;
    height: 280px;
    /* border: 1px solid green; */
}

.container_types_of_photo_item1:hover{
    /* opacity: 0.7; */
    transition: transform 0.3s ease;
    transform: scale(0.9);
}

.container_types_of_photo_item1 .img_1{
    height: 170px;
    width: 260px;
/* border: 1px solid red; */
position: relative;
z-index: 0;

 

  
}

.container_types_of_photo_item1 img{
     height: 100%;
    width: 100%;
    
    object-fit: cover;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    
    box-shadow: inset 0 10px 15px -5px rgba(205, 9, 9, 0.826);
    /* box-shadow: inset 0px -10px 15px rgba(0, 0, 0, 0.604); */
} 

.container_types_of_photo_item1 a .img_1 p{
    position: absolute;
    bottom: 0.1px;
     
    font-family: ProximaNovaCond_Black;
        font-weight: 800;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: -0.5px;
        color: rgba(255, 255, 255, 0.92);

    margin-left: 10px;
    margin-bottom: 8px;
    z-index: 1;
   
   word-spacing: 0.2px ;
   text-size-adjust: xx-large;
   width: 350px;
  

    text-decoration: none;
}
.container_types_of_photo_item1 a{
    text-decoration: none;
}

.container_types_of_photo_item1 a:hover{
    /* opacity: 0.7; */
    transform: scale(1.09);
}
.container_types_of_photo_item1 a h4{
    color: black;
    padding-left: 10px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
    text-decoration: none;
}
.container_types_of_photo_item1_star_icon #star_icon img{
 height: 18px;
 width: 18px;
 
}

.container_types_of_photo_item1_star_icon{
    padding-left: 10px;
}
 #star_icon p{
    color: black;
    padding-left: 3px;
 }
.container_types_of_photo_item1_star_icon #star_icon{
    display: flex;
    gap: 0.2px;
    padding-right: 100px;
    align-items: center;
}

.container_types_of_photo_item1 a p{
    margin-top: 2px;
    padding-left: 10px;
    color: #6f7681;
}

#hr2{
    width: 85%;
    margin-left: 120px;
    margin-top: 50px;
    /* border-color: #f2f2f2 ; */
    /* background: rgb(255, 255, 255) */
    border: .7% white;
    color: #d9dadb;
}



.container_types_of_food_item3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    padding-left:20px;
    margin-left: 100px;
    padding-top: 40px;
    /* border: 1px solid red; */
} 

.cities{
    /* border: 1px solid red; */
    /* width: 250px; */
    height: 50px;
    width: 85%;
    margin-left: 120px;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
   
    
}

.cities_items{
    display: flex;
   /* border: 1px solid blue; */
   width: 300px; 
   height: 50px;
   align-items: center;
   justify-content: center;
   /* background-color: orange; */
   border-radius: 10px;
   border: 1.5px solid rgba(2, 6, 12, 0.1);

}

.container_types_of_food_item4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    padding-left:20px;
    margin-left: 100px;
    padding-top: 75px;
}

.cities_items_1{
    display: flex;
    /* border: 1px solid blue; */
    width: 625px; 
    /* gap: 50px; */
    height: 50px;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
    border-radius: 10px;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
}

.play_store{
    width: 100%;
    height: 115px;
    /* border: 1px solid red; */
    background-color: #f0f0f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 130px;
    margin-top: 120px;
}

.play_store_items_1{
    font-family: Gilroy;
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: rgba(2, 6, 12, 0.75);
}

.play_store_items_2{
    display: flex;
    flex-direction: row;
    /* -webkit-box-pack: center; */
    justify-content: space-between;
    gap: 20px;
    align-items: center;

}

.play_store_items_2 img{
    height: 64px;
    max-width: 208px;

}


footer{
    width: 100%;
    height: 530px;
    background-color: #02060d;

}

.footer_items{
   
   /* background-color: rgb(208, 213, 222); */
   /* border: 1px solid red; */
   grid-template-columns: 1fr 1fr;
   padding: 0px 17.5% 7rem;
   column-gap: 15%;
   position: absolute;
  
   left: 0px;
   right: 0px;
   /* margin-top: 20px; */
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer_items_1{
    /* border: 1px solid yellow; */
    padding-bottom: 100px;
    
}

.footer_items_1_item_a{
    display: flex;
    
    margin-left: -10px;
    /* border: 1px solid red; */
}

.footer_items_1_item_a img{
    height: 40px;
    width: 40px;
    /* border: 1px solid red; */
}

.footer_items_1_item_a p{
    /* border: 1px solid blue; */
    /* padding-top: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-family: Gilroy;
    font-weight: 800;
    font-size: 28px;
    line-height: 32px; 
    color: white;
    padding-right: 20px;
}


.footer_items_1_item_b p{
font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.6);
}

.footer_items_2{
    display: flex;
    flex-direction: column;
}

.footer_items_2 p{
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.92);

    margin-top: 40px;
    /* border: 1px solid red; */
    margin-bottom: 15px;

}

.footer_items_2 ul li a{
    /* border: 1px solid blue; */
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    
}

.footer_items_2 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_items_3_a{
    /* border: 1px solid red; */
    /* margin-top: 100px; */
    padding-top: 70px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer_items_3_a ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_items_3_a .footer_items_3 p{
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.92);
    /* border: 1px solid green; */
    margin-bottom: 10px;
}

.footer_items_3_a .footer_items_3 ul li a{
    /* border: 1px solid blue; */
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer_items_4 p{
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.92);
    /* border: 1px solid green; */
    margin-bottom: 10px;

}

.footer_items_4 ul li a{
    /* border: 1px solid blue; */
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer_items_5 p{
    font-family: Gilroy_Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.92);
    /* border: 1px solid green; */
    margin-bottom: 10px;
}

.footer_items_5{
    /* border: 1px solid red; */
    padding-top: 30px;
}

.footer_items_5 ul li a{
    /* border: 1px solid blue; */
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer_items_5 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}